<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Example</title>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
        .footer {
            padding: 20px;
            text-align: center;
        }
        .footer a {
            color: black;
            padding: 10px;
            font-size: 20px;
            text-decoration: none;
        }
        .footer a:hover {
            opacity: 0.7;
        }
    </style>
</head>
<body>

<div class="footer">
    <hr />
    <p>A work by<a href="https://soundaryasrajan.netlify.app/">Soundarya Soundararajan</a></p>
    <p><span style="color: #808080;"><em>soundarya24@gmail.com</em></span></p>
    <p>
        <a href="https://twitter.com/SoundaryaRak?lang=en" class="fa fa-twitter"></a>
        <a href="https://github.com/soundarya24/" class="fa fa-github"></a>
    </p>
</div>

</body>
</html>
